# Gradle files
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE files
.idea
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.nb-gradle/

# Runtime and log files
run/
run-data/
*.log
*.log.gz

# OS files
.DS_Store
Thumbs.db
